<nav class="navbar" role="navigation" aria-label="main navigation" id="menu" *ngIf="!isViewOnly">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://invoicer.me">
      <img src="/assets/Logo.png">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded=" false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="'/'">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>
    </div>
    <div *ngIf="auth.user | async; then authenticated else guest">
          <!-- template will replace this div -->
    </div>
  </div>
</nav>

<section>
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        
      </div>
    </div>
  </div>
</section>


<section class="section">
  <notification-message></notification-message>
  <router-outlet></router-outlet>
</section>




<footer class="footer" *ngIf="!isViewOnly">
  <div class="content has-text-centered">
    <p>
      <strong>Invoicer</strong> by <a href="https://invoicer.io">Genisystems / HPTP Design LLC</a>
    </p>
    <div class="container">
      <div class="columns has-text-left">
        <div class="column is-4">
          <ul>
            <li><a [routerLink]="'/documentation'">Documentation</a></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="column is-4">
          <ul>
            <li><strong>Contact</strong></li>
            <li>support@invoicer.me</li>
            <li>718 513 9327</li>
          </ul>
        </div>
        <div class="column is-4">
          <ul>
            <li><strong>&copy; 2019 Invoicer (invoice.me)</strong></li>
            <li><a [routerLink]="'/privacy'">Privacy</a></li>
            <li><a [routerLink]="'/tos'">Terms of Service</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>



<ng-template #guest>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-primary" [routerLink]="'/register'">
          <strong>Sign up</strong>
        </a>
        <a class="button is-light"  [routerLink]="'/login'">
          Log in
        </a>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #authenticated>
  <div class="navbar-end" *ngIf="auth.user | async as user">
    <a class="navbar-item" [routerLink]="'/dashboard'">
      Dashboard
    </a>
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-text" href="/profile">
          <strong>{{user.displayName}}</strong>
        </a>
        <a class="button is-light" (click)="logout()">
          Logout
        </a>
      </div>
    </div>
  </div>
</ng-template>